<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/png">
    <!--link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="img/x-icon"-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
    <link href="{{ asset('profile/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('profile/css/custom.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('profile/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('profile/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('profile/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}

    {% block javascripts %}

    {% endblock %}
</body>
</html>