<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Administracion de Usuarios{%  endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/mozart.png') }}" />
    <!--link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="img/x-icon"-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
    <link href="{{ asset('Administrador/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/elegant-icons-style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/jquery-ui-1.10.4.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/fullcalendar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/line-icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/owl.carousel.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/style-responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Administrador/css/xcharts.min.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
{%  block body %}
    {{ include('plantillaAdminis.html.twig') }}
{% endblock %}
<script type="text/javascript" src="{{ asset('Administrador/js/additional-methods.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/bootstrap-switch.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/bootstrap-wysiwyg-custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/bootstrap-wysiwyg.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/calendar-custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/charts.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/charts-flot.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/charts-other.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/charts-xcharts.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/dynamic-table.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/easy-pie-chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/excanvas.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/form-component.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/form-validation-script.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/fullcalendar.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/ga.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/gdp-data.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/gritter.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/html5shiv.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/index.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.autosize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.customSelect.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.flot.pie.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.localscroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.nicescroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.placeholder.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.rateit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.scrollTo.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.slimscroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.smartWizard.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.sparkline.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.sparkline-11.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.stepy.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.tagsinput.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery-1.8.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery-jvectormap-world-mill-en.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/jquery-ui-1.10.4.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/lte-ie7.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/morris-script.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/morris.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/sliders.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/sparkline-chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/sparklines.js') }}"></script>
<script type="text/javascript" src="{{ asset('Administrador/js/xcharts.min.js') }}"></script>

{%  block javascripts %}{% endblock %}
</body>
</html>

