{% extends 'baseAdministracion.html.twig' %}


{% block body %}
{#<!-- ESto es el menu principal-->#}
{% if app.user == false %}
    <div style="text-align:center">
        <img src=" {{ asset('profile/img/mother_of_mozart_.png')}}"/>
        <button type="button" class="btn btn-danger">
            <a href="{{ path('principal')}}#service">Volver</a>
        </button>
    </div>
    
{% else %}
    <!-- container section start -->
    <section id="container" class="">
        <header class="header dark-bg">
        <!--logo start-->
             <a href="{{ path('usuarios_homepage') }}" class="logo" style="font-family: titulo; font-size: 50px;">Zaide <span class="lite">Admin</span></a>
        <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                    <li>
                        <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                            <a href="{{ path('salir') }}" class="btn btn-danger square-btn-adjust">Salir</a>
                        </div>
                     </li>
                </ul>
            <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- task notificatoin start -->

                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{{ asset('img/small-logo.png') }} " height="30px" width="30px">
                            </span>
                            <span class="username">{{ app.user }}</span>
                        </a>

                    </li>
                    <!-- user login dropdown end -->
                </ul>
             <!-- notificatoin dropdown end-->
            </div>
    </header>

    {% block content %} <!-- El contenido de la pagina-->
    {% endblock %}    
    <footer class="footer"> <!--pie de pagina-->
    </footer>
{% block javascripts %} <!-- los javascriptses-->
    <script>

    </script>
{% endblock %}
{% endif %}
{% endblock %}