{% extends '::plantilla.html.twig' %}
{#<!-- pagina de registro para nuevos usuarios -->#}

{% block content %}
    <body>
        <section section class="main-section team" id="team" style="padding:10px"><!--main-section team-start-->
            <br/><br/>

            <div class="container">
                <h2>Comienza Con Nosotros</h2>
                <h6>Registrate y comienza a escribir tu musica</h6>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-login">
                            <div class="panel-heading">
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    {{ form_start(form  ) }}
                                     <div class="form-group">
                                        {{ form_label(form.nombreUsuario) }}
                                        {{ form_widget(form.nombreUsuario, {'attr' : {' class' : 'form-control', 'placeholder' : 'Escribe tu Nombre'} }) }}
                                        <span class="text-danger">{{ form_errors(form.nombreUsuario) }} </span>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.apellidoUsuario) }}
                                        {{ form_widget(form.apellidoUsuario, {'attr' : {' class' : 'form-control', 'placeholder' : 'Escribe tus Apellidos'} }) }}
                                        <span class="text-danger">{{ form_errors(form.apellidoUsuario) }} </span>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.correoUsuario) }}
                                        {{ form_widget(form.correoUsuario, {'attr' : {' class' : 'form-control', 'placeholder' : 'Escribe tu correo electrónico'} }) }}
                                        <span class="text-danger">{{ form_errors(form.correoUsuario) }} </span>
                                    </div>

                                    <div class="form-group" >
                                        {{ form_label(form.nivelUsuario) }}
                                        {{ form_widget(form.nivelUsuario, {'attr' : {' class' : 'form-control', 'placeholder' : 'Nivel de Usuario'} }) }}
                                        <span class="text-danger">{{ form_errors(form.nivelUsuario) }} </span>
                                    </div>


                                    <div class="form-group">
                                        {{ form_label(form.Pais) }}
                                        {{ form_widget(form.Pais, {'attr' : {' class' : 'form-control', 'placeholder' : 'País de Procedencia'} }) }}
                                        <span class="text-danger">{{ form_errors(form.Pais) }} </span>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.nickUsuario) }}
                                        {{ form_widget(form.nickUsuario, {'attr' : {' class' : 'form-control', 'placeholder' : 'Escribe un nick para el usuario '} }) }}
                                        <span class="text-danger">{{ form_errors(form.nickUsuario) }} </span>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.passwdUsuario) }}
                                        {{ form_widget(form.passwdUsuario, {'attr' : {' class' : 'form-control', 'placeholder' : 'Escribe la contraseña para el Usuario'} }) }}
                                        <span class="text-danger">{{ form_errors(form.passwdUsuario) }} </span>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.biografia) }}
                                        {{ form_widget(form.biografia, {'attr' : {' class' : 'form-control', 'placeholder' : 'Escribe una breve biografía '} }) }}
                                        <span class="text-danger">{{ form_errors(form.biografia) }} </span>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </body>
{% endblock %}