{% extends '::plantillaUser.html.twig' %}

{% block title %} Listado {{ app.user }} {% endblock %}

{% block content %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Lista de tus Partituras </h2>
                <h5>Aquí tienes el Listado de tus Partituras</h5>
                <div id = "volver" style ="float:right;margin-top:-5%;">
                    <a href="{{ path('Cuaderno') }}" class="btn btn-lg btn-danger"> Volver</a>
                </div>
            </div>
        </div>
        <hr>
            <div class="col-md-12">
                <div class="panel panel-default">
                            <div class="panel-heading">                           
                                <font><font>  Total de Partituras: {{ pagination.getTotalItemCount }}</font></font>
                            </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th><font><font>Nombre de la Partitura</font></font></th>
                                                    <th><font><font>Subtitulo de la Partitura</font></font></th>
                                                    <th><font><font>Contenido Partitura</font></font></th>
                                                    <th><font><font>Ver Partitura</font></font></th>
                                                    <th><font><font>Compartir con el mundo</font></font></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%  for partitura in pagination %}
                                            <tr >
                                                <td>{{ partitura.nombrePartitura }}</td>
                                                <td>{{ partitura.subnombrePartitura }}</td>
                                                <td>{{ partitura.contenidoPartitura }}</td>
                                                <td><a href="#">mostrar</a> </td>
                                                <td><input type="checkbox"/></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>              
                                    <div class="row">
                                        <div class="navigation" style="float: right">
                                        {{  knp_pagination_render (pagination) }}
                                        </div>
                                    </div>
                                </div>
                </div>
        </div>
    </div>
        
    

{% endblock %}
{% block javascripts %}


    <script type="text/javascript" src="{{ asset('profile/js/js.js') }}"></script>


{% endblock %}
