{% extends '::plantillaUser.html.twig' %}
{% block title %} Partitura {{ app.user }} {% endblock %}

{% block content %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Partitura </h2>
                <h5>Comienza a crear una partitura </h5>
                <div id = "volver" style ="float:right;margin-top:-5%;">
                    <a href="{{ path('Cuaderno') }}" class="btn btn-lg btn-danger"> Volver</a>
                </div>
            </div>
        </div>

        <div class="row" id="menuPartitura" style="width: 100%; border:2px solid black; height: 1000px; margin-bottom: 2%;margin-left: 1px;">
            <div class="col-md-12" style="text-align: center">
                {#<div style="display:flex; text-align: center">#}
                      {#<div id="new" style="float: left;margin-right: 2%;margin-left: -3%">#}
                          {#<i class="fa fa-plus-square"></i>#}
                          {#<p>Nueva Partitura</p>#}
                      {#</div>#}
                {#</div>#}
                {#menu#}
                <div class="toolbar-main-edition" style="border:1px solid black">
                    {#menu edicion#}
                    <div class="toolbar-main-edition" >
                       <div class="toolbar-elem ">
                           <a class="link-block" role="button"  >
                               <span  class="toolbar-text">
                                   <font><font class="">Selección</font></font>
                               </span>
                           </a>
                       </div>
                       <div class="toolbar-elem">
                           <a class="link-block" role="button" >
                               <span class="toolbar-text">
                                   <font><font>Notas</font></font>
                               </span>
                           </a>
                       </div>
                       <div class="toolbar-elem">
                           <a  class="link-block" role="button" >
                               <span class="toolbar-text">
                                   <font><font>Articulaciones</font></font>
                               </span>
                           </a>
                       </div>
                       <div class="toolbar-elem">
                           <a class="link-block" role="button" >
                               <span class="toolbar-text">
                                   <font><font>Ornamento</font></font>
                               </span>
                           </a>
                       </div>
                       <div class="toolbar-elem">
                           <a class="link-block" role="button">
                               <span class="toolbar-text">
                                   <font><font>Matices</font></font>
                               </span>
                           </a>
                       </div>
                       <div class="toolbar-elem">
                            <a class="link-block" role="button" >
                                <span class="toolbar-text">
                                    <font><font>Compás</font></font>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="toolbar-sub toolbar-select">
                        <div class="toolbar-elem">
                            <a class="link-block">
                               <div class="toolbar-icon toolbar-svg"  style="transition-delay: 0ms">
                                   <svg width="31" height="42" viewBox="0 0 31 42" xmlns="http://www.w3.org/2000/svg">
                                       <title>copy</title>
                                       <g fill="none" fill-rule="evenodd">
                                           <path d="M0 0h31v42H0z"></path><path d="M15 13H5c-.552 0-1 .45-1 1v1h1v-.5c0-.28.224-.5.5-.5h9c.276 0 .5.22.5.5v9c0 .28-.224.5-.5.5H14v1h1c.552 0 1-.45 1-1V14c0-.55-.448-1-1-1zm-3 14.5c0 .28-.224.5-.5.5h-10c-.276 0-.5-.22-.5-.5v-10c0-.28.224-.5.5-.5h10c.276 0 .5.22.5.5v10zM12 16H1c-.552 0-1 .45-1 1v11c0 .55.448 1 1 1h11c.552 0 1-.45 1-1V17c0-.55-.448-1-1-1zm-5 4H6v2H4v1h2v2h1v-2h2v-1H7v-2z" class="fill"></path>
                                       </g>
                                   </svg>
                               </div>
                            </a>
                        </div>
                        <div class="toolbar-elem" value="copy" >
                            <a class="link-block">
                                <div class="toolbar-icon toolbar-svg"style="transition-delay: 7ms">
                                    <svg width="44" height="42" viewBox="0 0 44 42" xmlns="http://www.w3.org/2000/svg">
                                        <title>cut</title>
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M0 0h44v42H0z"></path>
                                            <path d="M17.593 27c-.86 0-1.556-.67-1.556-1.5s.696-1.5 1.556-1.5c.86 0 1.555.67 1.555 1.5s-.696 1.5-1.555 1.5zm.06-9.01c-.026 0-.052.01-.08.01-.85-.01-1.536-.68-1.536-1.5 0-.83.696-1.5 1.556-1.5.86 0 1.555.67 1.555 1.5 0 .81-.664 1.46-1.494 1.49zm11.094 8.07L21.85 21l6.9-5.08c.25-.14.337-.44.192-.68a.547.547 0 0 0-.716-.19l-7.23 5.32-2.24-1.65c.844-.41 1.43-1.25 1.43-2.22 0-1.38-1.162-2.5-2.593-2.5C16.16 14 15 15.12 15 16.5c0 1.32 1.06 2.38 2.402 2.48L20.144 21l-2.753 2.02c-1.334.1-2.39 1.17-2.39 2.48 0 1.38 1.16 2.5 2.594 2.5 1.43 0 2.592-1.12 2.592-2.5 0-.98-.588-1.82-1.436-2.23l2.246-1.65 7.226 5.31c.25.14.572.06.716-.18a.495.495 0 0 0-.19-.69z" class="fill"></path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="toolbar-elem" value="paste">
                            <a class="link-block">
                                <div class="toolbar-icon toolbar-svg" style="transition-delay: 14ms">
                                    <svg width="46" height="42" viewBox="0 0 46 42" xmlns="http://www.w3.org/2000/svg">
                                        <title>paste</title>
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M0 0h46v42H0z"></path>
                                            <path d="M24.323 20l-3.646 3.65-2-1.65-.674.68 2 1.64.674.68.066-.07.08.07.673-.68-.08-.06 3.58-3.58-.673-.68zM27 27.5c0 .28-.224.5-.5.5h-10c-.276 0-.5-.22-.5-.5v-10c0-.28.224-.5.5-.5h10c.276 0 .5.22.5.5v10zM27 16H16c-.552 0-1 .45-1 1v11c0 .55.448 1 1 1h11c.552 0 1-.45 1-1V17c0-.55-.448-1-1-1zm3-3H20c-.552 0-1 .45-1 1v1h1v-.5c0-.28.224-.5.5-.5h9c.276 0 .5.22.5.5v9c0 .28-.224.5-.5.5H29v1h1c.552 0 1-.45 1-1V14c0-.55-.448-1-1-1z" class="fill"></path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="toolbar-separator" ></div>
                        <div class="toolbar-elem" value="suprimir">
                            <a class="link-block">
                                <div class="toolbar-icon toolbar-svg"  style="transition-delay: 42ms">
                                    <svg width="43" height="42" viewBox="0 0 43 42" xmlns="http://www.w3.org/2000/svg">
                                        <title>trash</title>
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M0 0h43v42H0z"></path>
                                            <path d="M23 27h1v-7h-1v7zm-2 0h1v-7h-1v7zm5.5-10h-10c-.276 0-.5-.22-.5-.5s.224-.5.5-.5h10c.275 0 .5.22.5.5s-.225.5-.5.5zm-.5 1.5v9c0 .28-.225.5-.5.5h-8c-.276 0-.5-.22-.5-.5V18h9v.5zM20 14h3v1h-3v-1zm7 1h-3v-1.5c0-.28-.225-.5-.5-.5h-4c-.276 0-.5.22-.5.5V15h-3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1v10a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1V18a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zm-8 12h1v-7h-1v7z" class="fill"></path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="toolbar-elem toolbar-voice-1">
                            <div  class="toolbar-elem toolbar-elem-active toolbar-elem-activated" >
                                <a class="link-block">
                                    <div class="toolbar-icon toolbar-svg" style="transition-delay: 0ms">
                                        <svg width="36" height="42" viewBox="0 0 36 42" xmlns="http://www.w3.org/2000/svg">
                                            <title>voice_1</title><g fill="none" fill-rule="evenodd">
                                                <path d="M0 0h36v42H0z"></path>
                                                <path d="M19.602 26.28h-1.96v-5.37l.018-.882.03-.965a9.17 9.17 0 0 1-.678.64l-1.066.858L15 19.38 17.99 17h1.612v9.28z" class="fill"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <br/>

                {#menu notas#}
                    <div class="toolbar-sub toolbar-note toolbar-sub-active" style="border:1px solid black">
                        <div  class="toolbar-elem" value="natural" >
                            <a class="link-block" >
                                <div class="toolbar-icon toolbar-svg" style="transition-delay: 21ms">
                                    <svg width="19" height="42" viewBox="0 0 19 42" xmlns="http://www.w3.org/2000/svg">
                                        <title>note_natural</title>
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M0 0h19v42H0z"></path>
                                            <path d="M.814 19.644c0-.308 1.342-.88 1.87-.88.132 0 .198.022.198.11v2.266c0 .396-1.254.902-1.804.902-.154 0-.264-.044-.264-.132v-2.266zm2.288-3.124c-.044 0-.066.022-.088.022 0 0-1.408.506-1.98.506-.132 0-.22-.022-.22-.11v-3.674A.268.268 0 0 0 .55 13H.264a.254.254 0 0 0-.264.264v11.33c0 .132.066.198.176.198.022 0 .066-.022.088-.022 0 0 .044 0 .066-.022.308-.132 1.54-.66 2.178-.66.22 0 .374.066.374.242v3.278c0 .154.11.264.264.264h.286c.132 0 .264-.11.264-.264V16.564a.174.174 0 0 0-.176-.176c-.022 0-.066 0-.088.022l-.33.11z" class="fill"></path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="toolbar-elem" value="sostenido">
                            <a class="link-block">
                                <div class="toolbar-icon toolbar-svg" style="transition-delay: 28ms">
                                    <svg width="36" height="42" viewBox="0 0 36 42" xmlns="http://www.w3.org/2000/svg">
                                        <title>note_sharp</title>
                                        <g fill="none" fill-rule="evenodd"><path d="M0 0h36v42H0z"></path>
                                            <path d="M18.696 21.69c-.132.44-1.166.88-1.672.88-.132 0-.242-.044-.264-.11-.044-.088-.066-.572-.066-1.1 0-.682.022-1.452.066-1.628.044-.374 1.056-.836 1.606-.836.154 0 .286.044.33.132.044.11.088.66.088 1.254s-.044 1.21-.088 1.408zm1.518-3.586a.456.456 0 0 0 .264-.374v-1.562c0-.11-.066-.176-.154-.176-.044 0-.066 0-.11.022 0 0-.44.176-.55.198-.154 0-.308-.11-.308-.286v-2.684c0-.132-.132-.242-.308-.242-.22 0-.352.11-.352.242v2.86c-.022.22-.088.506-.286.638-.264.154-1.012.462-1.386.55-.198 0-.264-.264-.264-.44v-2.64c0-.132-.154-.242-.308-.242-.22 0-.352.11-.352.242v2.97c0 .308-.132.528-.264.594-.132.066-.572.242-.572.242a.4.4 0 0 0-.264.352v1.562c0 .132.066.198.176.198.022 0 .066-.022.088-.022 0 0 .33-.132.484-.22.022 0 .044-.022.066-.022.154 0 .286.22.286.396v2.178c0 .242-.11.44-.242.506-.132.044-.594.242-.594.242a.4.4 0 0 0-.264.352V25.1c0 .132.066.198.176.198.022 0 .066-.022.088-.022 0 0 .308-.132.506-.198.022-.022.044-.022.066-.022.154 0 .264.242.264.352v2.706c0 .132.132.242.286.242.22 0 .374-.11.374-.242v-3.058c0-.286.11-.44.22-.484l1.342-.55c.022 0 .066-.022.088-.022.176 0 .286.264.286.396v2.75c0 .132.132.242.286.242.242 0 .374-.11.374-.242v-3.124c0-.176.088-.44.242-.506s.616-.242.616-.242a.456.456 0 0 0 .264-.374v-1.562c0-.11-.066-.176-.154-.176-.044 0-.066 0-.11.022l-.572.22c-.132 0-.286-.132-.286-.396v-2.046c0-.154.11-.572.286-.638l.572-.22z" class="fill"></path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="toolbar-elem" value="flat">
                            <a class="link-block">
                                <div class="toolbar-icon toolbar-svg" style="transition-delay: 35ms">
                                    <svg width="35" height="42" viewBox="0 0 35 42" xmlns="http://www.w3.org/2000/svg">
                                        <title>note_flat</title>
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M0 0h35v42H0z"></path>
                                            <path d="M16.034 25.44s-.066-1.32-.066-2.2c0-.352.022-.616.044-.704.088-.264.66-.748.968-.924.198-.11.396-.154.572-.154.22 0 .418.088.55.242.22.242.352.616.352 1.034 0 .396-.11.858-.374 1.32-.286.528-.924 1.232-1.584 1.65a.492.492 0 0 1-.22.066c-.198 0-.242-.22-.242-.33zm-.77 1.958c.066.088.132.11.198.11a.28.28 0 0 0 .132-.044c.66-.374 1.188-.968 1.738-1.342 1.958-1.364 2.64-2.706 2.64-3.718 0-1.254-.968-2.046-1.98-2.112-.154 0-.308.022-.462.066a2.693 2.693 0 0 0-.748.308c-.132.11-.374.308-.484.308-.044 0-.066 0-.11-.022a.407.407 0 0 1-.242-.374c.022-.484.154-5.764.154-6.204 0-.242-.198-.374-.418-.374-.308 0-.66.22-.682.616 0 0 .088 12.562.264 12.782z" class="fill"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="toolbar-elem" value="entero">
                                    <a class="link-block">
                                        <div class="toolbar-icon toolbar-svg" style="transition-delay: 63ms">
                                            <svg width="40" height="42" viewBox="0 0 40 42" xmlns="http://www.w3.org/2000/svg">
                                                <title>note_whole</title>
                                                <g fill="none" fill-rule="evenodd">
                                                    <path d="M19.7 22.04c-2.9 0-4.7 1.22-4.7 2.7 0 1.46 1.24 2.76 4.48 2.76 3.56 0 4.7-1.24 4.7-2.76 0-1.54-2.46-2.7-4.48-2.7zm-2.28 1.36c.24-.74 1.04-.86 1.72-.86 1.48 0 2.68 1.6 2.68 2.92 0 .14-.02.28-.04.4-.1.54-.42.92-.96 1.06-.22.06-.44.08-.66.08-.2 0-.38-.02-.58-.08a3.06 3.06 0 0 1-1.02-.58c-.16-.14-.32-.3-.46-.48-.42-.5-.76-1.24-.76-1.92 0-.18.02-.36.08-.54z" class="fill"></path><path d="M0 0h40v42H0z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                {#<div class="toolbar-elem" value="mitad">#}
                                    {#<a class="link-block">#}
                                        {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 70ms">#}
                                            {#<svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg">#}
                                                {#<title>note_half</title>#}
                                                {#<g fill="none" fill-rule="evenodd">#}
                                                    {#<path d="M0 0h37v42H0z"></path><path d="M17.24 31.9c3.8 0 4.58-3.08 4.58-3.86V11.5h-.6v15.14c-.4-.34-.98-.54-1.68-.54-3.46 0-4.54 2.68-4.54 3.88 0 1.22.98 1.92 2.24 1.92zm.54-3.94c1.14-.66 1.86-.9 2.34-.9.44 0 .68.2.84.48.08.14.14.28.14.44 0 .46-.48 1.02-2.1 2.08-1.04.7-1.76.94-2.26.94-.48 0-.76-.24-.92-.52a.95.95 0 0 1-.14-.46c0-.5.5-1.14 2.1-2.06z" class="fill"></path>#}
                                                {#</g>#}
                                            {#</svg>#}
                                        {#</div>#}
                                    {#</a>#}
                                    {#<div class="toolbar-elem toolbar-elem-active" value="cuarto">#}
                                        {#<a class="link-block" >#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 77ms">#}
                                                {#<svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>note_quarter</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M21.04 26.7c-.38-.34-.94-.52-1.6-.52-2.46 0-4.44 1.82-4.44 3.76 0 1.18.96 1.88 2.18 1.88 2 0 4.46-1.86 4.46-3.76V11.5h-.6v15.2z" class="fill"></path>#}
                                                        {#<path d="M0 0h38v42H0z"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="octavo">#}
                                        {#<a class="link-block" >#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 84ms">#}
                                                {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>note_eighth</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M24.02 17.12c-1.02-1.58-1.86-3.22-2.18-5.14-.06-.32-.22-.44-.6-.44-.1 0-.18.04-.2.18v14.92c-.38-.34-.94-.52-1.6-.52-2.46 0-4.44 1.82-4.44 3.76 0 1.18.96 1.88 2.18 1.88 2 0 4.46-1.86 4.46-3.76V16.78c1.24.76 2.72 2.96 3.34 4.42.3.68.48 1.82.48 3 0 .9-.14 1.84-.48 2.74-.04.12-.06.22-.06.3 0 .32.2.5.32.58l.04.02c.18.02.42-.06.52-.4 0 0 .52-1.9.52-3.46 0-2.5-1.04-4.86-2.3-6.86z" class="fill"></path>#}
                                                        {#<path d="M0 0h42v42H0z"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="decimosexto" >#}
                                        {#<a class="link-block" >#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 91ms">#}
                                                {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>note_sixteenth</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M26.04 22.46c0-.06-.02-.1-.02-.18 0-.04 0-.08.02-.14.06-.12.5-1.32.5-2.54 0-.26-.02-.48-.06-.72-.2-1.36-.72-1.92-2.16-3.48-1.08-1.16-2.2-1.48-2.54-3.6-.04-.22-.28-.26-.4-.26s-.34.02-.34.02v15.08c-.38-.34-.94-.52-1.6-.52-2.46 0-4.44 1.82-4.44 3.76 0 1.18.96 1.88 2.18 1.88 2 0 4.46-1.86 4.46-3.76v-8.48c1.1.08 2.34.42 3.54 2.86.46.96.64 1.94.64 2.98 0 .58-.06 1.18-.16 1.78-.02.08-.02.12-.02.18 0 .28.14.44.28.48.06.02.1.04.16.04.14 0 .28-.08.4-.34.08-.1.14-1.24.14-2.2v-.44c0-.84-.22-1.66-.58-2.4zm-.28-2.26c-.04.16-.04.36-.14.52-.02.06-.16.12-.26.12-.06 0-.1-.02-.14-.08-.32-.5-.66-.9-1.08-1.38-.94-1.08-1.86-1.56-2.28-3.2-.02-.02-.02-.04-.02-.06 0-.08.12-.2.28-.2h.16c1.22 0 2.3 1.12 2.96 2.1.36.52.54 1.14.54 1.78 0 .14 0 .26-.02.4z" class="fill"></path>#}
                                                        {#<path d="M0 0h42v42H0z"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="triple corchea " >#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 98ms">#}
                                                {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>note_thirtysecondnote</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M26.24 24.98c-.04-.78-.22-1.54-.52-2.26-.02-.04-.02-.08-.02-.14 0-.04 0-.08.02-.12.04-.14.46-1.24.46-2.38a4.4 4.4 0 0 0-.42-1.86c.18-.52.4-1.34.4-2.12 0-.2 0-.38-.04-.56-.22-1.22-.68-1.76-2.02-3.22-1-1.08-2.08-1.4-2.42-3.4-.02-.18-.28-.38-.4-.38s-.24.24-.24.24v17.86c-.4-.34-.96-.52-1.6-.52-2.46 0-4.44 1.82-4.44 3.76 0 1.18.96 1.88 2.18 1.88 1.98 0 4.44-1.86 4.44-3.76v-8c1.04.08 2.18.42 3.28 2.66.44.88.62 1.78.62 2.74 0 .56-.06 1.12-.16 1.7 0 .06-.02.1-.02.14 0 .24.12.42.26.48.04.02.08.04.12.04.12 0 .26-.1.4-.32.06-.12.14-1.04.14-1.9 0-.2-.02-.38-.02-.56zm-.82-4.34c-.04.16-.04.32-.1.46-.02.06-.12.12-.22.12-.06 0-.12-.02-.14-.08-.3-.44-.58-.78-.92-1.18l-.1-.1c-.86-1.02-1.74-1.44-2.14-2.98 0-.02.14-.24.26-.26 1.26 0 2.28 1.02 2.9 1.94.32.48.5 1.02.5 1.6 0 .16-.02.32-.04.48zm.02-4.12c-.04.2-.14.54-.24.88-.28-.36-.64-.74-1.1-1.24-.98-1.08-1.96-1.42-2.28-3.36 1.1 0 2.28.48 3.38 2.34.22.4.3.7.3.96 0 .16-.04.28-.06.42z" class="fill"></path>#}
                                                        {#<path d="M0 0h42v42H0z"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="sexagécimo">#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 105ms">#}
                                                {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>note_sixtyfourth</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M25.72 22.7c-.02-.04-.02-.08-.02-.14 0-.04 0-.08.02-.12.04-.14.46-1.24.46-2.38a4.4 4.4 0 0 0-.42-1.86c.18-.52.4-1.34.4-2.12 0-.2 0-.38-.04-.56-.08-.46-.2-.84-.4-1.2.18-.5.44-1.38.44-2.22 0-.18-.02-.36-.04-.54-.22-1.22-.68-1.76-2.02-3.22-1-1.08-2.08-1.4-2.42-3.4-.02-.18-.28-.38-.4-.38s-.24.24-.24.24v21.84c-.4-.34-.96-.52-1.6-.52-2.46 0-4.44 1.82-4.44 3.76 0 1.18.96 1.88 2.18 1.88 1.98 0 4.44-1.86 4.44-3.76v-8.02c1.04.08 2.18.42 3.28 2.66.44.88.62 1.78.62 2.74 0 .56-.06 1.12-.16 1.7 0 .06-.02.1-.02.14 0 .24.12.42.26.48.04.02.08.04.12.04.12 0 .26-.1.4-.32.06-.12.14-1.04.14-1.9 0-.2-.02-.38-.02-.56-.04-.78-.22-1.54-.52-2.26zm-.3-2.08c-.04.16-.04.32-.1.46-.02.06-.12.12-.22.12-.06 0-.12-.02-.14-.08-.3-.44-.58-.78-.92-1.18l-.1-.1c-.86-1.02-1.74-1.44-2.14-2.98 0-.02.14-.24.26-.26 1.26 0 2.28 1.02 2.9 1.94.32.48.5 1.02.5 1.6 0 .16-.02.32-.04.48zm.02-4.12c-.04.2-.14.54-.24.88-.28-.36-.64-.74-1.1-1.24-.98-1.08-1.96-1.42-2.28-3.36 1.1 0 2.28.48 3.38 2.34.22.4.3.7.3.96 0 .16-.04.28-.06.42zm0-3.96l-.26.98c-.28-.34-.62-.72-1.08-1.22-1-1.08-1.92-1.4-2.26-3.4 0-.02 0-.06-.02-.08 1.14 0 2.28.5 3.38 2.34.22.4.3.7.3.96 0 .16-.04.28-.06.42z" class="fill"></path>#}
                                                        {#<path d="M0 0h42v42H0z"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-separator"></div>#}
                                    {#<div class="toolbar-elem" value="silencio">#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg"  style="transition-delay: 119ms">#}
                                                {#<svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>rest_quarter</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h38v42H0z"></path>#}
                                                        {#<path d="M17.56 21.76c.32.4.6.78.86 1.2.04.08.12.24.12.28 0 .02 0 .06-.02.08-.04.08-.12.1-.22.1-.08 0-.24-.04-.32-.06-.1 0-.22-.06-.32-.06-.86 0-1.64.86-1.64 1.92 0 1 .86 1.98 2.32 3.1.16.12.36.18.52.18.14 0 .28-.04.3-.12.02-.06.04-.1.04-.14 0-.18-.16-.34-.32-.48-.26 0-.48-.54-.52-.72a1.49 1.49 0 0 1-.08-.52c0-.62.3-1.32.94-1.44.1-.02.2-.02.32-.02.58 0 1.24.22 1.56.34.02 0 .04.02.06.02.06.02.1.02.14.02.06 0 .1-.02.1-.08 0-.24-.52-.9-.74-1.14-.76-.92-1.38-1.66-1.38-2.78 0-.08.02-.18.02-.26.08-1.16.8-2.12 1.32-2.94.06-.1.08-.2.08-.3 0-.2-.08-.38-.08-.38s-2.96-3.52-3.3-3.86c-.1-.1-.24-.16-.36-.16-.2 0-.4.14-.4.42 0 .1.02.2.08.32.08.22 1.22 1.24 1.22 2.68 0 .74-.3 1.6-1.2 2.54-.2.2-.28.42-.28.58 0 .28.2.48.2.48l.98 1.2z" class="fill"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem dropdown-container" value="punteado">#}
                                        {#<a class="link-block has-dropdown">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 126ms">#}
                                                {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>note_dotted</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h42v42H0z"></path>#}
                                                        {#<path d="M17.134 27.75c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zM26.99 25c0-.616-.484-1.1-1.1-1.1-.616 0-1.1.484-1.1 1.1 0 .616.484 1.1 1.1 1.1.616 0 1.1-.484 1.1-1.1z" class="fill"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                            {#<div class="toolbar-caret"></div>#}
                                        {#</a>#}
                                        {#<ul class="dropdown-menu active-bar" style="position: fixed; top: 221px; left: 527px;">#}
                                            {#<li >#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Punteado " data-tooltip-placement="right">#}
                                                    {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>note_dotted</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h42v42H0z"></path>#}
                                                            {#<path d="M17.134 27.75c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zM26.99 25c0-.616-.484-1.1-1.1-1.1-.616 0-1.1.484-1.1 1.1 0 .616.484 1.1 1.1 1.1.616 0 1.1-.484 1.1-1.1z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                            {#<li >#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Double dotted " data-tooltip-placement="right">#}
                                                    {#<svg width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>note_doubledotted</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h42v42H0z"></path>#}
                                                            {#<path d="M17.134 27.75c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zM26.99 25c0-.616-.484-1.1-1.1-1.1-.616 0-1.1.484-1.1 1.1 0 .616.484 1.1 1.1 1.1.616 0 1.1-.484 1.1-1.1zm4 0c0-.616-.484-1.1-1.1-1.1-.616 0-1.1.484-1.1 1.1 0 .616.484 1.1 1.1 1.1.616 0 1.1-.484 1.1-1.1z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="vincular">#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 133ms">#}
                                                {#<svg width="52" height="42" viewBox="0 0 52 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>tie</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h52v42H0z"></path>#}
                                                        {#<path d="M37.115 21h-.378c-.945 1.647-7.155 2.484-10.854 2.484-3.78 0-9.855-.837-10.665-2.484h-.378c.783 2.592 6.13 3.86 11.016 3.86 5.184 0 10.395-1.295 11.26-3.86z" class="fill"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="ghost-note">#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 140ms">#}
                                                {#<svg width="40" height="42" viewBox="0 0 40 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>noteheadBlackParens</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h40v42H0z"></path>#}
                                                        {#<path class="fill" d="M19.192 23c1.424 0 3.168-1.312 3.168-2.672 0-.816-.64-1.328-1.552-1.328-1.76 0-3.168 1.296-3.168 2.672 0 .832.688 1.328 1.552 1.328zm-1.794 1.806c-.748-.572-1.012-.902-1.254-1.606-.22-.638-.33-1.342-.33-2.266 0-.99.11-1.76.374-2.332.264-.572.55-.902 1.21-1.452l-.088-.154c-.682.462-.968.704-1.32 1.122-.66.814-.99 1.738-.99 2.838 0 1.188.352 2.112 1.166 3.058.396.44.638.638 1.122.946l.11-.154zm5.334.154c.484-.308.726-.506 1.1-.946.814-.946 1.166-1.87 1.166-3.058 0-1.1-.33-2.024-.99-2.838-.352-.418-.616-.66-1.32-1.122l-.088.154c.682.55.968.88 1.232 1.452.242.572.374 1.342.374 2.332 0 .924-.11 1.628-.33 2.266-.264.704-.528 1.034-1.276 1.606l.132.154z" fill="#000"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-separator"></div>#}
                                    {#<div class="toolbar-elem" value="acciaccatura">#}
                                        {#<a class="link-block">#}
                                            {#<div  class="toolbar-icon toolbar-svg" style="transition-delay: 154ms">#}
                                                {#<svg width="43" height="42" viewBox="0 0 43 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>graceNoteAcciaccaturaStemUp</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h43v42H0z"></path>#}
                                                        {#<path class="fill" d="M22.06 17.53a.342.342 0 0 0-.26-.14c-.06 0-.12.04-.18.08l-1.04.78c-.14-.22-.28-.46-.44-.66-.56-.82-1.04-1.66-1.24-2.62-.02-.18-.14-.2-.22-.2h-.1c-.08 0-.14 0-.14.12v5.02l-1.6 1.22c-.08.06-.14.16-.14.26 0 .06.04.12.08.18.06.08.16.14.26.14.06 0 .12-.02.18-.08l1.22-.92v3.12c-.22-.14-.5-.22-.82-.22-1.46 0-2.62 1.06-2.62 2.2 0 .7.56 1.1 1.28 1.1 1.14 0 2.54-1.02 2.62-2.1v-4.46l1.58-1.22c.08.16.16.32.22.5.14.36.26.92.26 1.52 0 .46-.08.94-.26 1.38-.02.06-.04.12-.04.16 0 .16.1.26.18.3.02.02.06.02.08.02.08 0 .18-.06.24-.22.06-.1.3-1 .3-1.66v-.08a5.71 5.71 0 0 0-.58-2.22l1.12-.86c.08-.06.14-.16.14-.26 0-.06-.04-.12-.08-.18zm-3.16 2.02v-1.76c.34.08.82.28 1.24.8l-1.24.96zm5.18 8.2c1.78 0 3.96-1.64 3.96-3.34 0-1.02-.8-1.66-1.94-1.66-2.2 0-3.96 1.62-3.96 3.34 0 1.04.86 1.66 1.94 1.66z" fill="#000"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem" value="grace-note">#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 161ms">#}
                                                {#<svg width="43" height="42" viewBox="0 0 43 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>gracenote</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h43v42H0z"></path>#}
                                                        {#<path class="fill" d="M20.14 17.55c-.56-.82-1.04-1.66-1.24-2.62-.02-.18-.14-.2-.22-.2h-.1c-.08 0-.14 0-.14.12v8.94c-.22-.14-.5-.22-.82-.22-1.46 0-2.62 1.06-2.62 2.2 0 .7.56 1.1 1.28 1.1 1.14 0 2.54-1.02 2.62-2.1v-7.02c.52.12 1.32.52 1.8 1.84.14.36.26.92.26 1.52 0 .46-.08.94-.26 1.38-.02.06-.04.12-.04.16 0 .16.1.26.18.3.02.02.06.02.08.02.08 0 .18-.06.24-.22.06-.1.3-1 .3-1.66v-.08c-.06-1.28-.6-2.48-1.32-3.46zm3.28 10.2c1.78 0 3.96-1.64 3.96-3.34 0-1.02-.8-1.66-1.94-1.66-2.2 0-3.96 1.62-3.96 3.34 0 1.04.86 1.66 1.94 1.66z" fill="#000"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-separator"></div>#}
                                    {#<div class="toolbar-elem dropdown-container" value="octave shift">#}
                                        {#<a class="link-block has-dropdown">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 175ms">#}
                                                {#<svg width="38" height="42" viewBox="0 0 38 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>8</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h38v42H0z"></path>#}
                                                        {#<path class="fill" d="M20.412 16.66c1.056 0 1.408.704 1.408 1.43s-.33 1.496-1.056 2.002a.423.423 0 0 1-.264.088c-.11 0-.22-.044-.396-.176-1.034-.77-1.364-1.166-1.364-1.804 0-.968.682-1.54 1.672-1.54zm-2.464 5.126c.088-.044.154-.088.22-.088.11 0 .242.066.418.22 1.408 1.1 1.76 1.408 1.76 2.068 0 1.122-.836 1.76-1.87 1.76-1.342 0-1.76-.902-1.76-1.694 0-.682.308-1.694 1.232-2.266zM20.456 16c-2.244 0-3.806 1.1-3.806 2.97 0 .638.176 1.188.528 1.606.11.132.176.242.176.33 0 .11-.11.176-.396.308C15.55 21.786 15 22.754 15 23.81c0 1.452 1.056 2.596 3.432 2.596 2.134 0 4.004-1.122 4.004-3.124 0-.814-.198-1.386-.704-1.936-.154-.176-.264-.286-.264-.396 0-.11.11-.198.374-.33 1.188-.616 1.65-1.518 1.65-2.332 0-1.254-.88-2.288-3.036-2.288z" fill="#000"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}

                                            {#<div class="toolbar-caret"></div>#}
                                        {#</a>#}
                                        {#<ul class="dropdown-menu active-bar">#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Octave Shift " data-tooltip-placement="right">#}
                                                    {#<svg width="38" height="42" viewBox="0 0 38 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>8</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h38v42H0z"></path>#}
                                                            {#<path class="fill" d="M20.412 16.66c1.056 0 1.408.704 1.408 1.43s-.33 1.496-1.056 2.002a.423.423 0 0 1-.264.088c-.11 0-.22-.044-.396-.176-1.034-.77-1.364-1.166-1.364-1.804 0-.968.682-1.54 1.672-1.54zm-2.464 5.126c.088-.044.154-.088.22-.088.11 0 .242.066.418.22 1.408 1.1 1.76 1.408 1.76 2.068 0 1.122-.836 1.76-1.87 1.76-1.342 0-1.76-.902-1.76-1.694 0-.682.308-1.694 1.232-2.266zM20.456 16c-2.244 0-3.806 1.1-3.806 2.97 0 .638.176 1.188.528 1.606.11.132.176.242.176.33 0 .11-.11.176-.396.308C15.55 21.786 15 22.754 15 23.81c0 1.452 1.056 2.596 3.432 2.596 2.134 0 4.004-1.122 4.004-3.124 0-.814-.198-1.386-.704-1.936-.154-.176-.264-.286-.264-.396 0-.11.11-.198.374-.33 1.188-.616 1.65-1.518 1.65-2.332 0-1.254-.88-2.288-3.036-2.288z" fill="#000"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Octave Shift " data-tooltip-placement="right">#}
                                                    {#<svg width="45" height="42" viewBox="0 0 45 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>15</title>#}
                                                        {#<g fill="none" fill-rule="evenodd"><path d="M0 0h45v42H0z"></path>#}
                                                            {#<path class="fill" d="M22.282 20.786c-.088.264-.11.352-.11.506 0 .264.176.418.418.418.198 0 .33-.088.528-.286.242-.242.792-.814 1.628-.814.924 0 1.254.616 1.254 1.386 0 1.32-.858 3.52-2.64 3.52-.55 0-.968-.22-.968-.484 0-.176.132-.22.352-.33.286-.132.682-.462.682-1.166 0-.66-.484-.99-1.056-.99-.748 0-1.32.682-1.32 1.584 0 1.078.88 2.09 2.794 2.09 2.508 0 4.356-1.716 4.356-4.268 0-1.584-1.1-2.222-2.86-2.222-.528 0-.924.066-1.276.176-.088.022-.154.044-.22.044-.132 0-.198-.066-.198-.176 0-.044.022-.11.044-.176l.418-1.232c.066-.198.154-.242.286-.242.066 0 .11 0 .198.022.286.044.704.088 1.056.088 1.584 0 2.816-.748 3.652-1.518.264-.242.374-.418.374-.594a.268.268 0 0 0-.264-.264c-.154 0-.286.088-.66.198-.55.154-1.232.242-2.024.242a6.31 6.31 0 0 1-1.628-.198c-.374-.11-.528-.154-.726-.154-.308 0-.484.154-.594.462l-1.496 4.378zm-5.918-1.408c-.154.176-.22.308-.22.462 0 .198.198.396.418.396.22 0 .352-.11.506-.286l.99-1.1c.154-.176.242-.242.352-.242.088 0 .154.044.154.176a.97.97 0 0 1-.066.308l-1.848 5.786c-.066.198-.088.264-.33.286l-.946.088c-.242.022-.374.154-.374.374s.132.374.418.374h4.554c.286 0 .418-.154.418-.374s-.132-.352-.374-.374l-.924-.088c-.11-.022-.154-.066-.154-.132s.044-.132.066-.242l2.618-8.316a.97.97 0 0 0 .066-.308c0-.154-.088-.264-.264-.264-.286 0-.638.242-.924.242-.33 0-.506-.242-.836-.242-.176 0-.286.066-.418.22l-2.882 3.256z" fill="#000"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                    {#<div class="toolbar-separator"></div>#}
                                    {#<div class="toolbar-elem dropdown-container" value="tuplet">#}
                                        {#<a class="link-block has-dropdown">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 189ms">#}
                                                {#<svg width="55" height="42" viewBox="0 0 55 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>tuplet_3</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h55v42H0z"></path>#}
                                                        {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm5.986 1.452c-.286 0-.44.132-.44.33s.154.33.44.33h.22c.814 0 1.21.484 1.21 1.188 0 .968-.682 2.31-2.024 2.31-.44 0-.792-.176-.792-.396 0-.132.11-.176.286-.264.242-.11.55-.374.55-.946 0-.528-.374-.792-.836-.792-.616 0-1.078.55-1.078 1.276 0 .88.704 1.694 2.266 1.694 1.87 0 3.41-1.122 3.41-2.86a1.5 1.5 0 0 0-.858-1.364c-.154-.066-.242-.088-.242-.198 0-.066.088-.11.264-.198.924-.374 1.672-1.078 1.672-1.958 0-1.144-1.1-1.848-2.442-1.848-1.386 0-2.53.726-2.574 1.914-.022.572.33.946.836.946.55 0 .99-.44.99-1.034a.83.83 0 0 0-.198-.55c-.154-.132-.264-.22-.264-.286 0-.154.264-.308.726-.308.858 0 1.144.528 1.144 1.012 0 1.166-.748 2.002-2.024 2.002h-.242zm8.064-1.452a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}

                                            {#<div class="toolbar-caret"></div>#}
                                        {#</a>#}
                                        {#<ul class="dropdown-menu active-bar">#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Trillizo " data-tooltip-placement="right">#}
                                                    {#<svg width="55" height="42" viewBox="0 0 55 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>tuplet_3</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h55v42H0z"></path>#}
                                                            {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm5.986 1.452c-.286 0-.44.132-.44.33s.154.33.44.33h.22c.814 0 1.21.484 1.21 1.188 0 .968-.682 2.31-2.024 2.31-.44 0-.792-.176-.792-.396 0-.132.11-.176.286-.264.242-.11.55-.374.55-.946 0-.528-.374-.792-.836-.792-.616 0-1.078.55-1.078 1.276 0 .88.704 1.694 2.266 1.694 1.87 0 3.41-1.122 3.41-2.86a1.5 1.5 0 0 0-.858-1.364c-.154-.066-.242-.088-.242-.198 0-.066.088-.11.264-.198.924-.374 1.672-1.078 1.672-1.958 0-1.144-1.1-1.848-2.442-1.848-1.386 0-2.53.726-2.574 1.914-.022.572.33.946.836.946.55 0 .99-.44.99-1.034a.83.83 0 0 0-.198-.55c-.154-.132-.264-.22-.264-.286 0-.154.264-.308.726-.308.858 0 1.144.528 1.144 1.012 0 1.166-.748 2.002-2.024 2.002h-.242zm8.064-1.452a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Quintillizo " data-tooltip-placement="right">#}
                                                    {#<svg width="55" height="42" viewBox="0 0 55 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>tuplet_5</title>#}
                                                        {#<g fill="none" fill-rule="evenodd"><path d="M0 0h55v42H0z"></path>#}
                                                            {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm4.512 1.782c-.066.22-.088.286-.088.418 0 .198.154.33.352.33.154 0 .264-.066.418-.22.198-.198.638-.66 1.32-.66.748 0 1.012.484 1.012 1.122 0 1.056-.704 2.838-2.134 2.838-.44 0-.792-.176-.792-.396 0-.132.11-.176.286-.264.242-.11.55-.374.55-.946 0-.528-.396-.792-.858-.792-.594 0-1.056.55-1.056 1.276 0 .88.704 1.694 2.266 1.694 2.024 0 3.52-1.386 3.52-3.454 0-1.276-.88-1.804-2.31-1.804-.44 0-.748.066-1.034.154-.33.088-.374-.044-.308-.264l.33-.99c.088-.22.176-.22.396-.176.242.022.572.066.858.066 1.276 0 2.288-.594 2.97-1.232.198-.198.286-.33.286-.484a.197.197 0 0 0-.198-.198s-.242.066-.55.154c-.44.132-.99.198-1.628.198-.616 0-1.056-.088-1.32-.176-.308-.088-.44-.11-.594-.11-.242 0-.396.11-.484.374l-1.21 3.542zm9.538-1.782a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a></li>#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Sextillizo " data-tooltip-placement="right">#}
                                                    {#<svg width="55" height="42" viewBox="0 0 55 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>tuplet_6</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h55v42H0z"></path>#}
                                                            {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm8.334-1.694c.418-.022.77.11.77.242 0 .088-.198.176-.308.22a1.02 1.02 0 0 0-.594.946c0 .528.44.836.924.836.638 0 1.078-.484 1.078-1.232 0-.902-.792-1.562-2.09-1.562-1.892 0-3.41 1.21-4.202 3.652-.792 2.398-.528 4.774 2.2 4.774 1.606 0 3.41-1.1 3.41-3.344 0-1.056-.682-1.892-1.958-1.892-.594 0-1.122.132-1.562.462-.198.132-.396.11-.264-.308.462-1.298 1.298-2.728 2.596-2.794zm-1.408 3.432c.638 0 .814.44.814 1.078 0 1.54-.836 2.794-1.694 2.794-1.034 0-.968-1.1-.814-1.848.22-1.144.924-2.024 1.694-2.024zm7.124-1.738a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Septillizo " data-tooltip-placement="right">#}
                                                    {#<svg width="55" height="42" viewBox="0 0 55 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>tuplet_7</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h55v42H0z"></path>#}
                                                            {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm4.566.528a.68.68 0 0 0-.044.176c0 .154.088.22.264.22.198 0 .33-.044.396-.286.198-.594.462-1.056.99-1.056.616 0 1.342.418 2.156.418.44 0 .924-.154 1.364-.44.176-.11.286.022.176.176-.638.946-1.43 1.452-2.354 2.2a7.66 7.66 0 0 0-2.618 3.784.525.525 0 0 0-.044.198c0 .11.066.176.198.176.33 0 .66-.198 1.012-.198.33 0 .616.198.946.198.198 0 .264-.088.286-.242.33-1.386.66-2.64 1.87-4.026.748-.858 1.518-1.848 1.98-3.366.022-.11.044-.22.044-.33 0-.198-.154-.242-.33-.242-.264 0-.352.066-.44.286-.132.374-.352.55-.682.55-.726 0-1.144-.902-2.222-.902-.484 0-.902.242-1.254.55-.154.154-.242.242-.286.242-.022 0-.066-.022-.066-.088 0-.132.088-.264.088-.44 0-.132-.11-.198-.286-.198-.198 0-.308.044-.396.264l-.748 2.376zm9.484-.528a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Nonuplet " data-tooltip-placement="right">#}
                                                    {#<svg width="55" height="42" viewBox="0 0 55 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>tuplet_9</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h55v42H0z"></path>#}
                                                            {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm5.392 5.632c-.418.022-.77-.11-.77-.242 0-.088.198-.176.308-.22a1.02 1.02 0 0 0 .594-.946c0-.528-.44-.836-.924-.836-.638 0-1.078.484-1.078 1.232 0 .902.792 1.562 2.09 1.562 1.892 0 3.41-1.21 4.202-3.652.792-2.398.528-4.774-2.2-4.774-1.606 0-3.41 1.1-3.41 3.344 0 1.056.682 1.892 1.958 1.892.594 0 1.122-.132 1.562-.462.198-.132.396-.11.264.308-.462 1.298-1.298 2.728-2.596 2.794zm1.934-3.432c-.638 0-.814-.44-.814-1.078 0-1.54.836-2.794 1.694-2.794 1.034 0 .968 1.1.814 1.848-.22 1.144-.924 2.024-1.694 2.024zm6.724-2.2a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#" data-ng-click="triggerTool($event, tool, t, sub)" data-uib-tooltip="Tuplet 11 " data-tooltip-placement="right">#}
                                                    {#<svg width="61" height="42" viewBox="0 0 61 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>tuplet_11</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h61v42H0z"></path>#}
                                                            {#<path d="M20.478 18.994h-4.95a.52.52 0 0 0-.528.528v4.95c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528V20.05h4.422a.52.52 0 0 0 .528-.528.52.52 0 0 0-.528-.528zm4.622.638c-.11.154-.176.264-.176.374 0 .154.154.33.352.33.176 0 .264-.088.396-.242l.814-.88c.11-.154.198-.198.286-.198.066 0 .11.022.11.132 0 .044-.022.154-.044.264l-1.496 4.686c-.066.154-.066.198-.264.22l-.77.066c-.198.022-.308.132-.308.308s.11.308.33.308h3.696c.242 0 .33-.132.33-.308s-.088-.286-.286-.308l-.748-.066c-.176-.022-.132-.11-.088-.308l2.134-6.732c.022-.11.044-.22.044-.242 0-.132-.066-.22-.198-.22-.242 0-.528.198-.748.198-.286 0-.418-.198-.682-.198-.154 0-.242.066-.352.176l-2.332 2.64zm7 0c-.11.154-.176.264-.176.374 0 .154.154.33.352.33.176 0 .264-.088.396-.242l.814-.88c.11-.154.198-.198.286-.198.066 0 .11.022.11.132 0 .044-.022.154-.044.264l-1.496 4.686c-.066.154-.066.198-.264.22l-.77.066c-.198.022-.308.132-.308.308s.11.308.33.308h3.696c.242 0 .33-.132.33-.308s-.088-.286-.286-.308l-.748-.066c-.176-.022-.132-.11-.088-.308l2.134-6.732c.022-.11.044-.22.044-.242 0-.132-.066-.22-.198-.22-.242 0-.528.198-.748.198-.286 0-.418-.198-.682-.198-.154 0-.242.066-.352.176l-2.332 2.64zm8.428-.638a.52.52 0 0 0-.528.528c0 .297.23.528.528.528h4.422v4.422c0 .297.23.528.528.528a.52.52 0 0 0 .528-.528v-4.95a.52.52 0 0 0-.528-.528h-4.95z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</a>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                    {#<div class="toolbar-separator"></div>#}
                                    {#<div class="toolbar-elem" value="suprimir">#}
                                        {#<a class="link-block">#}
                                            {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 203ms">#}
                                                {#<svg width="43" height="42" viewBox="0 0 43 42" xmlns="http://www.w3.org/2000/svg">#}
                                                    {#<title>trash</title>#}
                                                    {#<g fill="none" fill-rule="evenodd">#}
                                                        {#<path d="M0 0h43v42H0z"></path>#}
                                                        {#<path d="M23 27h1v-7h-1v7zm-2 0h1v-7h-1v7zm5.5-10h-10c-.276 0-.5-.22-.5-.5s.224-.5.5-.5h10c.275 0 .5.22.5.5s-.225.5-.5.5zm-.5 1.5v9c0 .28-.225.5-.5.5h-8c-.276 0-.5-.22-.5-.5V18h9v.5zM20 14h3v1h-3v-1zm7 1h-3v-1.5c0-.28-.225-.5-.5-.5h-4c-.276 0-.5.22-.5.5V15h-3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1v10a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1V18a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zm-8 12h1v-7h-1v7z" class="fill"></path>#}
                                                    {#</g>#}
                                                {#</svg>#}
                                            {#</div>#}
                                            {#<div class="toolbar-number">#}
                                                {#<font><font>1</font></font>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="toolbar-elem toolbar-voice-1">#}
                                        {#<div class="toolbar-elem toolbar-elem-activated toolbar-elem-active">#}
                                            {#<a class="link-block">#}
                                                {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 0ms">#}
                                                    {#<svg width="36" height="42" viewBox="0 0 36 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>voice_1</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h36v42H0z"></path>#}
                                                            {#<path d="M19.602 26.28h-1.96v-5.37l.018-.882.03-.965a9.17 9.17 0 0 1-.678.64l-1.066.858L15 19.38 17.99 17h1.612v9.28z" class="fill"></path>#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</div>#}

                                            {#</a>#}
                                        {#</div>#}
                                        {#<div class="toolbar-elem">#}
                                            {#<a class="link-block">#}
                                                {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 7ms">#}
                                                    {#<svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg">#}
                                                        {#<title>voice_2</title>#}
                                                        {#<g fill="none" fill-rule="evenodd">#}
                                                            {#<path d="M0 0h37v42H0z"></path>#}
                                                            {#<path d="M21.513 26.414h-6.488V25.05l2.33-2.356c.69-.707 1.14-1.197 1.352-1.47.212-.273.364-.525.457-.758a1.93 1.93 0 0 0 .14-.724c0-.372-.103-.65-.308-.83-.205-.183-.48-.274-.822-.274-.36 0-.71.082-1.048.247-.338.165-.69.4-1.06.705L15 18.327c.457-.39.836-.665 1.136-.826.3-.16.63-.282.984-.37a5.04 5.04 0 0 1 1.193-.13c.58 0 1.092.107 1.537.318.444.212.79.508 1.034.89.246.38.368.816.368 1.307a3.2 3.2 0 0 1-.225 1.203c-.15.374-.383.758-.698 1.152-.317.392-.873.953-1.668 1.68l-1.194 1.124v.09h4.043v1.65z" class="fill"></path#}
                                                        {#</g>#}
                                                    {#</svg>#}
                                                {#</div>#}
                                                {#<div class="toolbar-number">#}
                                                    {#<font><font>1</font></font>#}
                                                {#</div>#}
                                            {#</a>#}
                                        {#</div>#}
                                        {#<div class="toolbar-elem">#}
                                            {#<a class="link-block">#}
                                                {#<div class="toolbar-icon toolbar-svg" style="transition-delay: 14ms">#}
                                                    {#<svg width="36" height="42" viewBox="-10 0 36 14" xmlns="http://www.w3.org/2000/svg" class="ng-scope">#}
                                                        {#<path d="M9.885 5.11c-.184-.18-.492-.17-.688.03L7.5 6.82 5.806 5.14c-.197-.2-.504-.21-.688-.03-.184.19-.174.49.022.69l1.695 1.68L5.14 9.17c-.197.2-.207.5-.023.68.183.19.49.18.688-.02L7.5 8.15l1.697 1.68c.196.2.504.21.688.02.183-.18.174-.48-.023-.68L8.166 7.48 9.862 5.8c.197-.2.206-.5.023-.69zM7.5 14a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13zm0-14A7.5 7.5 0 0 0 0 7.5 7.5 7.5 0 0 0 7.5 15 7.5 7.5 0 0 0 15 7.5 7.5 7.5 0 0 0 7.5 0z" class="fill" fill-rule="evenodd"></path>#}
                                                    {#</svg>#}
                                                {#</div>#}
                                            {#</a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            </a>
                        </div>

                    </div>
                <br/>
                <br/>

                {#menu articulaciones#}
                {#<div class="toolbar-sub toolbar-articulation toolbar-sub-active" class="toolbar-elem" value="staccato">#}
                    {#<a class="toolbar-icon toolbar-svg" style="transition-delay: 0ms">#}
                        {#<svg width="22" height="42" viewBox="0 0 22 42" xmlns="http://www.w3.org/2000/svg">#}
                            {#<title>note_staccato</title>#}
                            {#<g fill="none" fill-rule="evenodd">#}
                                {#<path d="M0 0h22v42H0z"></path>#}
                                {#<path d="M2.134 27.75c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826C1.936 22.25 0 24.032 0 25.924c0 1.144.946 1.826 2.134 1.826zm2.714-11.674a.93.93 0 0 0-.924-.924.93.93 0 0 0-.924.924.93.93 0 0 0 .924.924.93.93 0 0 0 .924-.924z" class="fill"></path>#}
                            {#</g>#}
                        {#</svg>#}
                {#</div><#}
                {#><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="staccatissimo" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Staccatissimo (2)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 7ms"><svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg"><title>note_staccatissimo</title><g fill="none" fill-rule="evenodd"><path d="M0 0h37v42H0z"></path><path d="M17.134 28.196c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zM19.1 12c-.572 0-1.056.198-1.078.484 0 .33.572 6.006 1.078 6.006.55 0 1.1-5.478 1.1-5.984 0-.33-.506-.506-1.1-.506z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="tenuto" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Tenuto (3)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 14ms"><svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg"><title>note_tenuto</title><g fill="none" fill-rule="evenodd"><path d="M0 0h37v42H0z"></path><path d="M17.156 27.806c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zm4.774-11.75c.506 0 .528-.242.528-.528 0-.286 0-.528-.528-.528h-6.402c-.528 0-.528.242-.528.528 0 .286 0 .528.528.528h6.402z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="tenuto-staccato" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Tenuto-Staccato " data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 21ms"><svg width="38" height="42" viewBox="0 0 38 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h38v42H0z"></path><path class="fill" d="M21.908 25.324c.506 0 .528-.242.528-.528 0-.286 0-.528-.528-.528h-6.402c-.528 0-.528.242-.528.528 0 .286 0 .528.528.528h6.402zm-2.31-4.4a.93.93 0 0 0-.924-.924.93.93 0 0 0-.924.924.93.93 0 0 0 .924.924.93.93 0 0 0 .924-.924z" fill="#000"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div class="toolbar-separator" data-ng-if="t.vars.show &amp;&amp; t.separator" data-ng-repeat-end=""></div><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="martellato" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Martellato (4)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 35ms"><svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg"><title>note_martellato</title><g fill="none" fill-rule="evenodd"><path d="M0 0h37v42H0z"></path><path d="M17.134 27.75c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zm1.638-16.184c-.066-.088-.132-.132-.22-.132a.255.255 0 0 0-.22.132L16 16.648c-.022.044-.022.066-.022.11 0 .11.044.22.154.242.022.022.088.022.11.022.088 0 .198-.044.242-.154 0 0 1.188-2.618 1.232-2.706.022-.044.044-.066.088-.066s.088.022.132.066c.022.088 1.254 2.706 1.254 2.706a.304.304 0 0 0 .242.132h1.496c.154-.022.242-.11.242-.242 0-.044 0-.088-.022-.11l-2.376-5.082z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="marcato" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Marcato (5)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 42ms"><svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg"><title>note_marcato</title><g fill="none" fill-rule="evenodd"><path d="M0 0h37v42H0z"></path><path d="M17.134 27.75c1.958 0 4.356-1.804 4.356-3.674 0-1.122-.88-1.826-2.134-1.826-2.42 0-4.356 1.782-4.356 3.674 0 1.144.946 1.826 2.134 1.826zm6.038-13.67c.286-.066.286-.22.286-.396 0-.176 0-.308-.286-.396l-6.6-2.244a1.792 1.792 0 0 0-.198-.044c-.198 0-.264.132-.33.308-.022.088-.044.154-.044.22 0 .11.066.22.308.308 0 0 4.752 1.606 4.972 1.694.11.022.154.088.154.154s-.044.11-.176.154c-.242.066-4.95 1.672-4.95 1.672-.242.11-.308.22-.308.33 0 .066.022.132.044.198.066.154.154.33.308.33.022 0 .066 0 .088-.022l6.732-2.266z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div class="toolbar-separator" data-ng-if="t.vars.show &amp;&amp; t.separator" data-ng-repeat-end=""></div><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="calderón " data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Calderón  (6)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 56ms"><svg width="43" height="42" viewBox="0 0 43 42" xmlns="http://www.w3.org/2000/svg"><title>fermata</title><g fill="none" fill-rule="evenodd"><path d="M0 0h43v42H0z"></path><path d="M21.644 20.138c4.686 0 5.632 3.476 5.852 4.312.022.066.022.132.044.154.154.308.242.462.462.462.198 0 .308-.088.308-.308 0-.066 0-.132-.022-.22-1.364-6.732-5.962-6.776-6.6-6.776-.704 0-5.258.044-6.6 6.776-.022.088-.022.176-.022.242 0 .22.11.286.286.286.198 0 .308-.154.44-.462.022-.022.044-.11.066-.198.264-.902 1.254-4.268 5.786-4.268zm1.232 3.718c0-.638-.55-1.188-1.21-1.188-.638 0-1.188.55-1.188 1.188 0 .66.55 1.21 1.188 1.21.66 0 1.21-.55 1.21-1.21z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="ligaduras" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Ligaduras (S)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 133ms"><svg width="52" height="42" viewBox="0 0 52 42" xmlns="http://www.w3.org/2000/svg"><title>slurs</title><g fill="none" fill-rule="evenodd"><path d="M0 0h52v42H0z"></path><path d="M34.966 25.445l-.282.125c-.157 1.54-4.502 4.22-7.256 5.446-2.814 1.253-7.613 2.643-8.762 1.686l-.28.125c1.44 1.67 5.84.843 9.478-.777 3.86-1.718 7.31-4.41 7.102-6.605zm-14.53-.515c-.342-.288-.846-.468-1.44-.468-2.214 0-3.996 1.638-3.996 3.384 0 1.062.864 1.692 1.962 1.692 1.8 0 3.996-1.674 4.014-3.366V14.616h-.54V24.93zm8-4c-.342-.288-.846-.468-1.44-.468-2.214 0-3.996 1.638-3.996 3.384 0 1.062.864 1.692 1.962 1.692 1.8 0 3.996-1.674 4.014-3.366V10.616h-.54V20.93zm8-3c-.342-.288-.846-.468-1.44-.468-2.214 0-3.996 1.638-3.996 3.384 0 1.062.864 1.692 1.962 1.692 1.8 0 3.996-1.674 4.014-3.366V7.616h-.54V17.93z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div class="toolbar-separator" data-ng-if="t.vars.show &amp;&amp; t.separator" data-ng-repeat-end=""></div><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="breath mark" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Breath mark " data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 147ms"><svg width="34" height="42" viewBox="0 0 34 42" xmlns="http://www.w3.org/2000/svg"><title>breathmark</title><g fill="none" fill-rule="evenodd"><path d="M0 0h34v42H0z"></path><path d="M17.016 15.972c-1.204 0-1.988.784-1.988 1.764 0 .952.644 1.568 1.568 1.568.7 0 .784.588.784.588.028.112.056.196.056.308 0 .392-.196.756-.448 1.092-.476.616-1.204 1.036-1.26 1.092-.112.056-.224.112-.224.252 0 .028.028.056.028.084.028.168.112.224.196.224.924 0 2.352-1.232 2.8-1.932.56-.868.728-1.848.728-2.66v-.196c0-.812-.336-1.372-.784-1.708a2.513 2.513 0 0 0-1.456-.476z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="caesura" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Caesura " data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 154ms"><svg width="41" height="42" viewBox="0 0 41 42" xmlns="http://www.w3.org/2000/svg"><title>caesura</title><g fill="none" fill-rule="evenodd"><path d="M0 0h41v42H0z"></path><path d="M16.122 26.022l5.676-9.746-1.122-.726-5.698 9.79 1.144.682zm10.274-9.746l-1.166-.726-5.698 9.79 1.188.682 5.676-9.746z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><div class="toolbar-separator" data-ng-if="t.vars.show &amp;&amp; t.separator" data-ng-repeat-end=""></div><!----><!----><!----><!----><div data-ng-repeat-start="t in tool.subs" data-ng-class="{#}
       {#'dropdown-container': t.subs,#}
       {#'toolbar-elem-active': t.vars.active,#}
       {#'toolbar-lock': t.vars.lock#}
     {#}" class="toolbar-elem" value="suprimir" data-ng-if="(t.vars.show || tool.type !== activeToolbar.type) &amp;&amp; !t.separator" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Suprimir (⌫)" data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 189ms"><svg width="43" height="42" viewBox="0 0 43 42" xmlns="http://www.w3.org/2000/svg"><title>trash</title><g fill="none" fill-rule="evenodd"><path d="M0 0h43v42H0z"></path><path d="M23 27h1v-7h-1v7zm-2 0h1v-7h-1v7zm5.5-10h-10c-.276 0-.5-.22-.5-.5s.224-.5.5-.5h10c.275 0 .5.22.5.5s-.225.5-.5.5zm-.5 1.5v9c0 .28-.225.5-.5.5h-8c-.276 0-.5-.22-.5-.5V18h9v.5zM20 14h3v1h-3v-1zm7 1h-3v-1.5c0-.28-.225-.5-.5-.5h-4c-.276 0-.5.22-.5.5V15h-3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1v10a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1V18a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zm-8 12h1v-7h-1v7z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><!----><div class="toolbar-elem toolbar-voice-1"><!----><!----><div ng-init="counter = tool.subs.length; ingroup = false" data-ng-repeat="t in (toolbar|filter:{type:'all'}:strict)[0].subs" data-ng-class="{'toolbar-elem-active': t.vars.active, 'toolbar-elem-activated': t.vars.activated}" class="toolbar-elem toolbar-elem-activated toolbar-elem-active" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Voice 1 " data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 0ms"><svg width="36" height="42" viewBox="0 0 36 42" xmlns="http://www.w3.org/2000/svg"><title>voice_1</title><g fill="none" fill-rule="evenodd"><path d="M0 0h36v42H0z"></path><path d="M19.602 26.28h-1.96v-5.37l.018-.882.03-.965a9.17 9.17 0 0 1-.678.64l-1.066.858L15 19.38 17.99 17h1.612v9.28z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><div ng-init="counter = tool.subs.length; ingroup = false" data-ng-repeat="t in (toolbar|filter:{type:'all'}:strict)[0].subs" data-ng-class="{'toolbar-elem-active': t.vars.active, 'toolbar-elem-activated': t.vars.activated}" class="toolbar-elem" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Voice 2 " data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 7ms"><svg width="37" height="42" viewBox="0 0 37 42" xmlns="http://www.w3.org/2000/svg"><title>voice_2</title><g fill="none" fill-rule="evenodd"><path d="M0 0h37v42H0z"></path><path d="M21.513 26.414h-6.488V25.05l2.33-2.356c.69-.707 1.14-1.197 1.352-1.47.212-.273.364-.525.457-.758a1.93 1.93 0 0 0 .14-.724c0-.372-.103-.65-.308-.83-.205-.183-.48-.274-.822-.274-.36 0-.71.082-1.048.247-.338.165-.69.4-1.06.705L15 18.327c.457-.39.836-.665 1.136-.826.3-.16.63-.282.984-.37a5.04 5.04 0 0 1 1.193-.13c.58 0 1.092.107 1.537.318.444.212.79.508 1.034.89.246.38.368.816.368 1.307a3.2 3.2 0 0 1-.225 1.203c-.15.374-.383.758-.698 1.152-.317.392-.873.953-1.668 1.68l-1.194 1.124v.09h4.043v1.65z" class="fill"></path></g></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----><!----><div ng-init="counter = tool.subs.length; ingroup = false" data-ng-repeat="t in (toolbar|filter:{type:'all'}:strict)[0].subs" data-ng-class="{'toolbar-elem-active': t.vars.active, 'toolbar-elem-activated': t.vars.activated}" class="toolbar-elem" data-ng-include="'/views/editor/_toolbar_sub_content.html'"><a data-ng-click="triggerTool($event, tool, t)" aria-haspopup="true" aria-expanded="false" class="link-block" data-toggle="" data-uib-tooltip="Remove current voice " data-tooltip-placement="bottom" data-ng-class="::{'has-dropdown': t.subs}"><!----><!----><div data-ng-if="::t.iconSvg &amp;&amp; !t.subs" data-ng-include="t.iconSvg" class="toolbar-icon toolbar-svg" ng-class="::[tool.iconClass,t.iconClass]" style="transition-delay: 14ms"><svg width="36" height="42" viewBox="-10 0 36 14" xmlns="http://www.w3.org/2000/svg" class="ng-scope"><path d="M9.885 5.11c-.184-.18-.492-.17-.688.03L7.5 6.82 5.806 5.14c-.197-.2-.504-.21-.688-.03-.184.19-.174.49.022.69l1.695 1.68L5.14 9.17c-.197.2-.207.5-.023.68.183.19.49.18.688-.02L7.5 8.15l1.697 1.68c.196.2.504.21.688.02.183-.18.174-.48-.023-.68L8.166 7.48 9.862 5.8c.197-.2.206-.5.023-.69zM7.5 14a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13zm0-14A7.5 7.5 0 0 0 0 7.5 7.5 7.5 0 0 0 7.5 15 7.5 7.5 0 0 0 15 7.5 7.5 7.5 0 0 0 7.5 0z" class="fill" fill-rule="evenodd"></path></svg></div><!----><!----><div ng-class="{'active': t.currentIdx >= 0}" class="toolbar-number"><font><font>1</font></font></div><!----></a><!----></div><!----></div></div>#}


            </div>
            </div>


        <div class="row" id="pantillaPartitur">
            <div class="col-md-12" style="text-align: center;" >
                <div id="stile" style="border: 2px solid black; background-color: #fcf8e3">
                    <div id="part" style="border:1px solid white; margin:5%;background-color: #ffffff; -webkit-box-shadow: 0px 16px 54px 12px rgba(0,0,0,0.46);-moz-box-shadow: 0px 16px 54px 12px rgba(0,0,0,0.46);
                    box-shadow: 0px 16px 54px 12px rgba(0,0,0,0.46); margin-top: 5%; height: 500px;">
                        <h3><input type="text" placeholder="( Título )" style="text-align: center; 	border-width:0;"> </h3><br/>
                        <div>
                            <div style="float:left;margin-left: 5%">
                                <h4><input type="text" placeholder="( Subtitulo )" style="border-width:0;"></h4>
                            </div>
                            <div style="float:right">
                                <h4 style="float:right; margin-right: 40%; width: 100%">Compositor: {{ app.user }}</h4>
                            </div>
                            <div id="escribe">
                                <div id="boo" class="boo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-tests.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-legacy-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-legacy-debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/vex.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/js.js') }}"></script>


{% endblock %}

