{% extends '::plantillaUser.html.twig' %}

{% block content %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Partitura </h2>
                <h5>Comienza a crear una partitura </h5>
                <div id = "volver" style ="float:right;margin-top:-5%;">
                    <a href="{{ path('Cuaderno') }}" class="btn btn-lg btn-danger"> Volver</a>
                </div>
            </div>
        </div>

        <div class="row" id="menuPartitura">
            <div class="col-md-12" style="text-align: center">
                <h3>Menú </h3>

            </div>
        </div>

        <div class="row" id="pantillaPartitur">
            <div class="col-md-12" style="text-align: center; border-top: 2px solid black;" >
                <div style="border: 2px solid black; background-color: #fcf8e3">
                    <div style="border:1px solid white; margin:5%;background-color: #ffffff; -webkit-box-shadow: 0px 16px 54px 12px rgba(0,0,0,0.46);-moz-box-shadow: 0px 16px 54px 12px rgba(0,0,0,0.46);
                    box-shadow: 0px 16px 54px 12px rgba(0,0,0,0.46); margin-top: 5%; ">
                        <h3><input type="text" placeholder="( Título )" style="text-align: center; 	border-width:0;"> </h3><br/>
                        <div>
                            <div style="float:left;margin-left: 5%">
                                <h4><input type="text" placeholder="( Subtitulo )" style="border-width:0;"></h4>
                            </div>
                            <div style="float:right">
                                <h4 style="float:right; margin-right: 5%;">Compositor: {{ app.user }}</h4>
                            </div>
                        </div>
                        <div id="boo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}

    {#<script type="text/javascript" src="{{ asset('profile/js/bootstrap.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('profile/js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/jquery-1.10.2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/dataTables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/morris/morris.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/js/js.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-tests.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-legacy-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-legacy-debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('profile/vexflow/releases/vexflow-debug.js') }}"></script>
    {#<script src="path-to-scripts/vexflow.min.js"></script>#}


{% endblock %}

