{% extends '::plantillaUser.html.twig' %}

{% block title %} Perfil {{ app.user }} {% endblock %}

{% block content %}

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Perfil </h2>
                <h5>Aquí tienes el Listado de tus Partituras</h5>
                <div id = "volver" style ="float:right;margin-top:-5%;">
                    <a href="{{ path('Cuaderno') }}" class="btn btn-lg btn-danger"> Volver</a>
                </div>
            </div>
        </div>
        <hr>
            <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Este es tu Espacio Personal</p>
                </div>
                {%  for usuario in users %}
                <div class="panel-body" id="info">
                    <div id="editar" style="float:right">
                        <a href="#" class="fa fa-pencil" style="font-size: 35px"></a>
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>NOMBRE</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.nombreUsuario }}" disabled="">
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>APELLIDOS</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.apellidoUsuario }}" disabled="">
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>CORREO Electrónico</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.correoUsuario }}" disabled="">
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>NIVEL</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.nivelUsuario }}" disabled="">
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>PAÍS</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.pais }}" disabled="">
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>BIOGRAFIA</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.biografia }}" disabled="">
                    </div><br/>
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>NICK USUARIO</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.nickUsuario }}" disabled="">
                    </div><br/>         
                    <div class="form-group">
                        <label for="disabledSelect"><font><font>PASSWORD USUARIO</font></font></label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ usuario.passwdUsuario }}" disabled="">
                    </div><br/> 
                </div>
            </div>
            <hr>
            {% endfor %}
            {%  for usuario in users %}
            <div class="panel-body" style="display: none;" id="modificar">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.nombreUsuario) }}
                        {{ form_widget(form.nombreUsuario, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.nombreUsuario) }} </span>
                    </div><br/>
                    <div class="form-group">
                        {{ form_label(form.apellidoUsuario) }}
                        {{ form_widget(form.apellidoUsuario, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.apellidoUsuario) }} </span>
                    </div><br/>
                    <div class="form-group">
                        {{ form_label(form.Pais) }}
                        {{ form_widget(form.Pais, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.Pais) }} </span>
                    </div><br/>

                    <div class="form-group">
                        {{ form_label(form.nickUsuario) }}
                        {{ form_widget(form.nickUsuario, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.nickUsuario) }} </span>
                    </div><br/>

                    <div class="form-group">
                        {{ form_label(form.passwdUsuario) }}
                        {{ form_widget(form.passwdUsuario, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.passwdUsuario) }} </span>
                    </div><br/>

                    <div class="form-group">
                        {{ form_label(form.biografia) }}
                        {{ form_widget(form.biografia, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.biografia) }} </span>
                    </div><br/>

                    <div class="form-group">
                        {{ form_label(form.correoUsuario) }}
                        {{ form_widget(form.correoUsuario, {'attr' : {' class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.correoUsuario) }} </span>
                    </div><br/>
                {{ form_end(form) }}
            </div>
            {% endfor %}
        </div>
    </div>



    {% endblock %}

{% block javascripts %}


    <script type="text/javascript" src="{{ asset('profile/js/js.js') }}"></script>


{% endblock %}