{% extends '::plantillaAdminis.html.twig' %}


{% block body %}
    {{ parent() }}
    <body>
        <div class="container">
            {% if app.session.flashBag.has('estado') %}
                {% set mensajes = app.session.flashBag.get('estado') %}
                {% for mensaje in mensajes %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                        {{ mensaje }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if app.session.flashBag.has('error') %}
                {% set mensajes = app.session.flashBag.get('error') %}
                {% for mensaje in mensajes %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                        {{ mensaje }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--overview start-->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-user"></i> Listado de Usuarios</h3>
                        <div id = "volver" style ="float:right;margin-top:-5%;">
                           <a href="{{ path('usuarios_homepage') }}" class="btn btn-lg btn-danger"> Volver</a>
                        </div>

                    </div>
                </div>
                <div>
                <a href="{{ path('usuarios_add') }}" class="btn btn-lg btn-success"><span class="fa fa-plus-circle"></span> Nuevo Usuario</a>
                </div>
                <br/><br/>

                    <section class="panel">
                        <header class="panel-heading">
                           Número de Usuarios: {{ pagination.getTotalItemCount }}
                        </header>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th> {{ knp_pagination_sortable(pagination,'ID_USUARIO', 'u.id' ) }}</th>
                                    <th>NOMBRE </th>
                                    <th>APELLIDOS</th>
                                    <th>CORREO Electronico</th>
                                    <th>TIPO</th>
                                    <th>NIVEL</th>
                                    <th>PAÍS</th>
                                    <th>FECHA DE ALTA</th>
                                    <th>FECHA DE ACTUALIZACIÓN</th>
                                    <th>BIOGRAFIA</th>
                                    <th>NICK USUARIO</th>
                                    <th>CONTRASEÑA DE USUARIO</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        {%  for usuario in pagination %}
                            <tbody>
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.nombreUsuario }}</td>
                                    <td>{{ usuario.apellidoUsuario }}</td>
                                    <td>{{ usuario.correoUsuario }}</td>
                                    <td>
                                        {%  if usuario.tipoDeUsuario == 'ROLE_ADMIN' %}
                                            <strong style="color:red">ROLE_ADMIN</strong>
                                        {% elseif usuario.tipoDeUsuario == 'ROLE_USER' %}
                                            <strong style="color:blue">ROLE_USER</strong>
                                        {% endif %}
                                    <td>
                                        {%  if usuario.nivelUsuario == 'NOVATO' %}
                                            <strong style="color:#62B0A7">Novato</strong>
                                        {% elseif usuario.nivelUsuario == 'INTERMEDIO' %}
                                            <strong style="color:#84B062">Intermedio</strong>
                                            {% elseif usuario.nivelUsuario == 'EXPERTO' %}
                                            <strong style="color:#B09562">Experto</strong>
                                        {% endif %}
                                    <td>{{ usuario.pais }}</td>
                                    <td>{{ usuario.fechaAlta | date('d-m-Y ') }}</td>
                                    <td>{{ usuario.fechaActualizacion | date('d-m-Y') }}</td>
                                    <td>{{ usuario.biografia }}</td>
                                    <td>{{ usuario.nickUsuario }}</td>
                                    <td>{{ usuario.passwdUsuario }}</td>
                                    <td>
                                        <a href="{{ path('usuarios_edit', {id: usuario.id }) }}"><button class="btn btn-link" style="color:#5eb5e0">Editar Usuario</button></a><br/>
                                        <a href="{{ path('usuarios_delete', {id: usuario.id }) }}    "><button class="btn btn-link" style="color:red">Eliminar Usuario</button></a>
                                    </td>
                                </tr>
                             </tbody>
                         {%  endfor %}
                         </table>
                </section>
            </section>

        <!-- pagination start -->
            <div class="navigation">
                {{  knp_pagination_render (pagination) }}
            </div>
        <!-- Finish pagination -->
    <!-- javascripts -->

    <script>

        //knob
        $(function() {
            $(".knob").knob({
                'draw' : function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function() {
            $("#owl-slider").owlCarousel({
                navigation : true,
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem : true

            });
        });

        //custom select box

        $(function(){
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function(){
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function(e, el, code){
                    el.html(el.html()+' (GDP - '+gdpData[code]+')');
                }
            });
        });

    </script>



{% endblock %}